.button{
    font-style: italic;
    color: blue;
    background-color: aquamarine;
    border-radius: 60px;

}
.txt{
    font-style: italic;
    color: black;
}
.box
{
    height: 500px;
    width: 350px;
    border: 1px solid rgb(27, 24, 185);
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    color:black;


}
.bg{
    background-color: blueviolet;
    background-size: cover;
    height: auto;
}
